@import '../../scss/colors.scss';
@import '../../scss/media-queries.scss';

header {
  .__nav-links {
    display: none;
  }
  @include for-desktop-and-large {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;

    .__nav-links {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .__link {
        color: $forth-color;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;

        &:hover {
          color: $second-color;
        }
      }
    }
  }

  @include for-phone {
    &.--menu-opened {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      background: lightgray;
      z-index: 1000;
      left: 0;

      .__nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .__link {
          color: $primary-color;
          text-decoration: none;
          font-size: 20px;
          margin-top: 20px;
        }
      }
    }
  }

  .hamburger-react {
    @include for-desktop-and-large {
      display: none;
    }
  }
}
