@import '../../scss/colors.scss';
@import '../../scss/media-queries.scss';

.portfolio {
  display: flex;
  flex-direction: column;
  height: auto;

  .__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: $second-color;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .__projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .__project {
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: white;
      width: 78%;

      @include for-phone {
        display: grid;
        grid-template-rows: auto;
        grid-template-areas:
          'infos'
          'gif'
          'button';
        width: 400px;
      }

      @include for-desktop-and-large {
        display: grid;
        grid-template-columns: 600px 600px;
        grid-template-areas:
          'infos gif'
          'button gif';
        column-gap: 34px;

        &:nth-child(even) {
          grid-template-areas:
            'gif infos'
            'gif button';
        }
      }

      .__infos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        justify-self: center;
        grid-area: infos;

        @include for-phone {
          margin-bottom: 50px;
        }

        .__project-title {
          color: $forth-color;
          font-size: 30px;
        }
        .__description {
          font-size: 20px;
          text-align: center;
          //   padding: 20px;
        }
      }

      .__project-gif {
        grid-area: gif;
        img {
          @include for-phone {
            width: 400px;
          }
          width: 600px;
          height: 400px;
        }
      }

      .button {
        align-self: center;
        justify-self: center;

        @include for-phone {
          margin-bottom: 50px;
          margin-top: 50px;
        }
      }
    }
  }
}
