@import '../../scss/colors.scss';
@import '../../scss/media-queries.scss';

.container {
  @include for-phone {
    display: flex;
    flex-direction: column;
  }
  @include for-desktop-and-large {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row3-end] 1fr;
    column-gap: 1vw;
    row-gap: 1vw;
    position: relative;
    justify-content: center;
    // align-items: center;
  }

  .__card {
    @include for-phone {
      width: 300px;
      margin-top: 50px;
      background-color: white;
      padding: 20px;
    }

    @include for-desktop-and-large {
      justify-self: stretch;
      align-self: stretch;
      min-height: 200px;
      perspective: 400px;
      position: relative;
    }

    .__flip {
      width: 100%;
      height: 100%;
      transition: transform 600ms cubic-bezier(0.2, 0.85, 0.4, 1.275);
      transform-style: preserve-3d;
      position: relative;

      .__face {
        // background-color: ;

        @include for-desktop-and-large {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          backface-visibility: hidden;
          overflow: hidden;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .__icon {
          color: $forth-color;
          font-size: 50px;
        }
      }
    }
  }
  @include for-desktop-and-large {
    .__card:hover .__flip {
      transform: rotateY(180deg);
    }
  }

  .__face.--back {
    display: flex;
    flex-direction: column;
    position: relative;

    @include for-phone {
      font-size: 20px;
      font-weight: 600;
      color: $forth-color;
      text-decoration: none;

      h3 {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        margin: 0;
        width: calc(100% - 50px);
        text-align: left;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 44px;
        color: $forth-color;
        text-transform: uppercase;
        font-size: 24px;
      }
    }

    @include for-desktop-and-large {
      justify-content: center;
      align-items: center;
      transform: rotateY(180deg);
      background-color: $forth-color;
      // padding: 30px;
      color: white;
      // margin-left: 10px;
      position: relative;

      h3 {
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 10px;
      }

      .__descriptions {
        // padding-bottom: 30px;
        // position: absolute;
        // top: 12%;
        // left: 10%;
      }
    }
  }

  .__next-logo {
    width: 50px;
    height: 50px;
  }
}
