@import '../scss/colors.scss';
@import '../scss/media-queries.scss';

.about {
  background-color: $third-color;
  display: flex;
  flex-direction: column;
  background-color: $third-color;
  width: 100%;

  .__image {
    margin-top: 50px;
    @include for-desktop-and-large {
      margin-left: 50px;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      color: $forth-color;
    }
    img {
      width: 420px;
      height: 30%;

      @include for-phone {
        width: 100%;
      }
    }
  }
  .__texts {
    .__content {
      font-family: 'Poppins', sans-serif;
      padding: 10px 22px;

      .__first-paragraph {
        height: 100px;
        margin-bottom: 30px;

        .type-animated {
          margin-left: 2px;
        }
      }
      .__light {
        font-family: 'Playfair Display', 'serif';
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .button {
      margin: 10px 22px;
    }
  }

  @include for-desktop-and-large {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-areas: 'texts images';
    justify-content: center;
    column-gap: 100px;

    .__image {
      grid-area: images;

      h2 {
        display: none;
      }
      img {
        width: 600px;
        height: 500px;
      }
    }

    .__texts {
      grid-area: texts;
      width: 600px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 100px;
    }
  }
}
