@import '../scss/colors.scss';
@import '../scss/media-queries.scss';

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: white;

  .__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: $forth-color;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .__contact-place {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;

    @include for-phone {
      flex-direction: column;
    }

    .__infos {
      text-align: center;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 24px;
      align-self: center;
      color: $forth-color;
      width: 50%;

      @include for-phone {
        width: 100%;
        margin-bottom: 80px;
      }

      img {
        width: 200px;
        height: 200px;
      }
    }

    .__form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: $second-color;
      padding: 20px;

      input {
        width: 40vw;
        height: 5vh;
        margin-bottom: 20px;

        @include for-phone {
          width: 100%;
        }

        &::placeholder {
          color: $primary-color;
          font-family: sans-serif;
          font-size: 18px;
        }
      }

      textarea {
        width: 40vw;
        margin-bottom: 20px;

        @include for-phone {
          width: 100%;
        }

        &::placeholder {
          color: $primary-color;
          font-family: sans-serif;
          font-size: 18px;
        }
      }
      label {
        color: white;
        font-size: 24px;
        align-self: flex-start;
      }

      .__send-button {
        width: 50%;
        text-transform: uppercase;
        font-weight: 600;
        background-color: white;
        border-radius: 5px;
        border: white 2px solid;
        color: $second-color;
        z-index: 2;

        &:hover {
          background-color: $forth-color;
          color: white;
        }
      }
    }
  }
}
