@import '../scss/colors.scss';
@import '../scss/media-queries.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $third-color;

  @include for-desktop-and-large {
    flex-direction: row-reverse;
  }

  .__first-illustration {
    img {
      width: 200px;
      height: 30%;

      @include for-desktop-and-large {
        margin-top: 50px;
        width: 500px;
        height: 50%;
        transform: scaleX(-1);
      }
    }
  }

  .__presentation {
    text-align: center;
    animation: fadeIn 500ms ease-out;
    padding-bottom: 30px;

    @include for-desktop-and-large {
      padding-bottom: 0;
      text-align: left;
      padding: 2px 112px;
      justify-self: flex-end;
    }
    h1 {
      color: black;
      font-size: 3em;
    }

    .__subtitle {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: $forth-color;
    }

    .__description {
      font-family: 'Poppins', sans-serif;
      color: $primary-color;
      font-size: 18px;
      padding: 10px 10px;
      height: 20vh;
    }

    .__know-me-button {
      background-color: $second-color;
      color: $third-color;
      line-height: 18px;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px 10px 10px 10px;
      padding: 15px 25px;
      margin-bottom: 20px;

      &:hover {
        border-style: solid $second-color;
        background-color: $third-color;
        color: $second-color;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
