@import '../../scss/colors.scss';

.button {
  display: inline-block;
  background-color: $second-color;
  color: $third-color;
  line-height: 18px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
  padding: 15px 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  grid-area: button;
  // width: 200px;
  // height: 50px;

  &:hover {
    border-style: solid $second-color;
    background-color: $third-color;
    color: $second-color;
  }
}
